/.git
/.github
/.vscode
/bin
/coverage
/data
/node_modules
*.log
/Dockerfile
/Dockerfile.dev
/docker-compose.yml
/docker-compose.mariadb.yml
/docker-compose.dev.yml
/LICENSE
/secrets.json
/.env
/prod.env
/.env.docker
/.gitignore